.color {
	animation-duration: 3s !important;
  	animation-name: mov !important;
	animation-iteration-count: infinite !important;
	animation-direction: alternate !important;
}
@keyframes mov {
  from {
    background-color:#000 !important;
  }
  to {
       background-color:#0078e8 !important;
  }
}