.color {
	animation-duration: 3s;
  	animation-name: mov;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes mov {
  from {
    background-color:black;
  }
  to {
       background-color:#0078e8;
  }
}