/* Aplica la fuente Poppins a todo el body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Un color de fondo claro */
    color: #333; /* Color de texto oscuro */
    align-items: center;
  }

  .full-screen-container {
    display: flex;
    justify-content: center;          /* Centrar horizontalmente */
    align-items: center;              /* Centrar verticalmente */
  }
  /* Estilo para el título (h1) */
  h1 {
    font-weight: 600; /* Negrita */
    text-align: center;
    color: #4CAF50; /* Color verde para el título */
    margin-top: 50px;
  }
  
  /* Estilo para el párrafo de estado */
  #status {
    font-weight: 400; /* Normal */
    text-align: center;
    font-size: 18px;
    color: #555; /* Color gris para el texto */
  }
  
  .button-link {
    display: inline-block;           /* Para que se comporte como un bloque en línea */
    padding: 10px 20px;              /* Relleno alrededor del texto */
    font-size: 16px;                 /* Tamaño de fuente */
    font-weight: bold;               /* Hacer el texto en negrita */
    text-align: center;              /* Centrar el texto dentro del enlace */
    background-color: #4CAF50;       /* Color de fondo verde */
    color: white;                    /* Color del texto */
    text-decoration: none;           /* Quitar subrayado */
    border-radius: 5px;              /* Bordes redondeados */
    border: 2px solid #4CAF50;       /* Borde verde */
    transition: all 0.3s ease;       /* Transición suave para efectos */
  }
  
  /* Efecto al pasar el ratón (hover) */
  .button-link:hover {
    background-color: white;         /* Fondo blanco */
    color: #4CAF50;                  /* Texto verde */
    border-color: #4CAF50;           /* Borde verde */
    cursor: pointer;                 /* Cambiar el cursor a mano */
  }


  #loading-container {
    position: relative;
    width: 100px;
    border-radius: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Spinner animado */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Color de fondo del borde */
    border-top: 5px solid #3498db; /* Color del borde animado */
    border-radius: 50%; /* Hacerlo circular */
    animation: spin 1s linear infinite; /* Animación de giro */
    margin-bottom: 10px; /* Espacio entre el spinner y el texto */
  }
  
  /* Animación del giro */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .icon {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
  }
  
  .success {
    color: #28a745; /* Verde para éxito */
  }
  
  .error {
    color: #dc3545; /* Rojo para error */
  }